*{
	margin: 0;
	padding: 0;
}

body{
	
}

#container{
	margin: auto;
}

#mainWrapper{
	width: 1000px;
	margin: auto;
}

header{
	width: 100%;
	height: 100%;
	border-bottom: 3px solid rgb(50,50,50);
}

#headerLogo{
	height: 60px;
	margin-top: 45px;
	margin-left: 5px;
}

#profileImage{
	float: right;
	height: 80px;
	width: 80px;
	margin-top: 25px;
	margin-right: 5px;
}

#headerInfo{
	float: right;
	margin-top: 45px;
	margin-right: 10px;
}

#headerInfo ul{
	list-style: none;
}

#headerInfo ul span{
	float: right;
	margin-left: 40px;
}

#mainContent{
	margin-top: 5px;
	width: 100%;
	height: 500px;
}

#leftMenu{
	height: 500px;
	width: 175px;
	float: left;
	border: 1px solid black;
}

#leftMenu nav ul{
	text-align: left;
	list-style-type: none;
	margin-top: 10px;
	margin-left: 5px;
}

#leftMenu li{
	text-decoration: none;
	font-size: 0.95em;
}

#leftMenu nav ul span{
	font-weight: bold;
	font-size: 1.1em;
}

footer{
	width: 1000px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	background: url(./images/backgroundSkyline.png);
}

footer p{
	color: white;
}

#footerBackground{
	height: 300px;
	bottom: 0px;
	left: 0px;
	position: fixed;
}
